.create-pal-page-container {
  background-color: rgb(18, 14, 27);
  position: relative;
  width: 100%;
  min-height: 100vh;
  top: 50px;
  display: flex;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 400;
  width: 645px;
  left: 34%;
}

.errors {
  color: white;
  font-size: 12px;
}

.game-select {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.game-img {
  border-radius: 8px;
}

.game-img:hover {
  border: 2px solid #7041E6;
}

.label-input, .intro-label, .screenshot-label, .state-label, .list-cover-label {
  font-size: 14px;
  margin-bottom: 12px;
}

.list-cover-input-label, .screenshot-input-label {
  background-color: #21212c;
  width: 104px;
  height: 104px;
  border-radius: 8px;
  border: 2px dashed #4f4e60;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-lg.fa-regular.fa-image {
  color: #4f4e60;
}

.choose-a-game-div, .game-info, .bio-div, .location-div {
  font-size: 24px;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 30px;
  border-top: 1px solid #4f4e60;
}

.loaded-img {
  width: 510px;
  height: 287px;
  border-radius: 4px;
  object-fit: cover;
  margin-top: 20px;
}

.line-div {
  border-top: 1px solid #4f4e60;
  padding-bottom: 30px;
}

.intro-description, .label-input#detailed-description {
  color: #c4c3e6;
  font-size: 12px;
  margin-bottom: 12px;
}

.input {
  background-color: #21212C;
  border: 1px solid #4F4E60;
  color: white;
  border-radius: 4px;
  height: 36px;
  margin-bottom: 20px;
  font-weight: 500;
  padding: 8px 11px;
}

.input:hover {
  border: 1px solid #966fb2;
  outline: none;
  box-shadow: 0 0 0 2px rgba(112, 65, 230, .20);
  transition: 0.2s ease-in;
}

.input:focus {
  border: 1px solid #966fb2;
  outline: none;
  box-shadow: 0 0 0 2px rgba(112, 65, 230, .20);
}

.textarea {
  background-color: #21212C;
  border-top: 1px solid #4F4E60;
  border-left: 1px solid #4F4E60;
  border-right: 1px solid #4F4E60;
  border-bottom: 0px solid #4F4E60;
  color: white;
  min-height: 60px;
  max-height: 200px;
  border-radius: 4px 4px 0 0;
  resize: none;
  overflow-y: hidden;
  padding: 8px 11px;
  /* width: 800px; */
}

.textarea:hover {
  border: 1px solid #966fb2;
  outline: none;
  box-shadow: 0 0 0 2px rgba(112, 65, 230, .20);
  transition: 0.2s ease-in;
}

.textarea:focus {
  border: 1px solid #966fb2;
  outline: none;
  box-shadow: 0 0 0 2px rgba(112, 65, 230, .20);
}

.textarea-counter {
  background-color: #21212C;
  border-right: 1px solid #4F4E60;
  border-left: 1px solid #4F4E60;
  border-bottom: 1px solid #4F4E60;
  font-size: 12px;
  font-weight: 400;
  color: #C4C3E6;
  text-align: right;
  padding-right: 12px;
  padding-bottom: 12px;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 20px;
  line-height: 17px;
  /* border-top: 1px solid #4F4E60; */
}

.submit-button {
  border-radius: 20px;
  background: #7041e6;
  color: #fff;
  border: none;
  box-shadow: none;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 24px;
  min-width: 120px;
  margin-bottom: 30px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(141, 101, 234);
  transition: 0.2s ease-in;
}


.disabled-button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  border: 1px solid gray;
  color: gray;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 24px;
  min-width: 120px;
  margin-bottom: 30px;
}
