.pal-page-container {
  /* position: relative; */
  top: 200px;
  width: 1300px;
}

.form-container {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  width: 630px;
  margin: 0px auto;
  color: white;
  font-weight: 400;

}

.errors {
  color: pink;
  font-size: 12px;
}

.input {
  background-color: #21212C;
  border: 1px solid #4F4E60;
  border-radius: 4px;
  height: 36px;
}

.input:focus{
  border: 1px solid #966fb2;
  outline: none;
  box-shadow: 0 0 0 2px rgba(112, 65, 230, .20);
}
