.signup-modal-button {
  background: #7041e6;
	color: white;
  font-size: 14px;
  font-weight: 500;
	border: none;
  width: 80px;
  height: 32px;
  border-radius: 4px;
	/* padding: 0px 16px; */
	cursor: pointer;
}

.signup-modal-button:hover {
  background-color: rgb(141, 101, 234);
  transition: 0.2s ease-in;
}

.signup-tab {
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-bottom: 4px solid #7041e6;
  width: 70px;
  padding-bottom: 5px;
}

.signup-tab-line {
  border-bottom: 1px solid #4f4e60;
  margin-bottom: 50px;
}

.upload-an-avatar-text {
  display: flex;
  flex-direction: column;
  color: #c4c3e6;
  align-items: center;
  /* border-bottom: 5px; */
  font-size: 14px;
}

.avatar-input-label {
  background-color: #21212c;
  width: 104px;
  height: 104px;
  border-radius: 100px;
  border: 2px dashed #4f4e60;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.signup-loaded-img {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 100px;
}

.input#avatar {
  width: 0px;
  height: 0px;
  margin-bottom: 0px;
}
