/* .user-pal-page-container {
  background-color: rgb(18, 14, 27);
  position: absolute;
  width: 100%;
  height: 100vh;
  padding-top: 100px;
} */

.user-pal-img {
  width: 200px;
  height: 100px;
  object-fit: cover;
}
