.navbar-container {
  background-color: #302F3D;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 59px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .20);
  padding: 19px 15px 19px 15px;
  z-index: 2;
}

.navbar-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.png-logo#navbar{
  width: 122px;
  height: 40px;
  margin-top: 4px;
}

.navlink-home, .navlink-ePal {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.navlink-ePal:hover {
  color: #7041e6;
  border-bottom: 5px solid #7041e6;
  padding-bottom: 15px;
  transition: 0.2s ease-in;
}

.navlink-ePal:focus {
  color: #7041e6;
  border-bottom: 5px solid #7041e6;
  padding-bottom: 15px;
}

.navlink-apply-ePal {
  background: linear-gradient(90deg, #625cff, #7041e6);
  font-size: 14px;
  padding: 7px 15px 7px 15px;
  color: white;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -2;
}

.navlink-apply-ePal:focus{
  background: linear-gradient(90deg, #7041e6, #7041e6);
  font-size: 14px;
  padding: 7px 15px 7px 15px;
  color: white;
  border-radius: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: -2;
}
