.nav-user-profile-button {
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
  margin: 0;
}

.nav-user-profile-img {
  border: 1px solid #fff;
  border-radius: 100px;
  width: 28px;
  height: 28px;
  object-fit: cover;
  cursor: pointer;
}

.profile-dropdown {
  background-color: #21212C;
  color: white;
  position: fixed;
  width: 320px;
  height: auto;
  margin-top: 8.5%;
  left: 84%;
  transform: translateX(-5%);
  border-radius: 4px;
  padding: 16px;
  box-shadow: 5px 5px 50px 1px black;
  font-weight: 400;
  font-size: 18px;
  /* box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2); */
  /* font-size: 12px;*/
}

.profile-dropdown-top {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #4f4e60;
}

.profile-dropdown-img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  object-fit: cover;
  cursor: pointer;
}

.profile-dropdown-bottom {
  display: flex;
  flex-direction: column;
}

.my-epal-button, .logout-button {
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
}

.my-epal-button:hover, .logout-button:hover {
  background-color: rgb(18, 14,27);
  width: 100%;
}
